<div class="row">
    <div class="col-md-12">
        <h3>Update post</h3>
        <hr/>
        <form [formGroup] = "postForm" (ngSubmit)="onUpdatePost()">
            <div class="mb-3">
                <label>Title</label>
                <input type="text" class="form-control" formControlName="title"/>
                <div *ngIf="postForm.controls['title'].touched && !postForm.controls['title'].valid">
                    <div *ngIf="postForm.controls['title'].errors.required">Title is required</div>
                    <div *ngIf="postForm.controls['title'].errors.minlength">Title should be minimum 6 characters</div>
                </div>
            </div>
            <div>
                <label>Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
                <div>{{ showErrorDescription() }}</div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" [disabled]="!this.postForm.valid">Add Post</button>
            </div>
        </form>
    </div>
</div>